In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.read_csv("season.csv")

In [3]:
s.shape

(157467, 8)

In [4]:
s.head()

,fisc_wk_id,fisc_wk_strt_dt,mkt_lvl,rgn_shrt_nm,co_nbr,co_shrt_nm,cust_nbr,ttl_cases
0,202051,2020-06-14,North,New England,8,NORTHERN NEW ENGLAND,5785,35.000
1,202051,2020-06-14,North,New England,8,NORTHERN NEW ENGLAND,11866,1.000
2,202051,2020-06-14,North,New England,8,NORTHERN NEW ENGLAND,36111,138.248
3,202051,2020-06-14,North,New England,8,NORTHERN NEW ENGLAND,36475,282.498
4,202051,2020-06-14,North,New England,8,NORTHERN NEW ENGLAND,104505,17.000

In [5]:
final = s[["cust_nbr", "fisc_wk_id"]]

In [6]:
final.loc[:,"purchases"] = 1

C:\Users\Waqas\AppData\Local\Temp\ipykernel_3152\2950342604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final.loc[:,"purchases"] = 1

In [7]:
final.duplicated().sum()

0

In [8]:
final["fisc_wk_id"].min()

202051

In [9]:
final["fisc_wk_id"].max()

202349

In [10]:
final[(final["fisc_wk_id"].astype(str).str[-2:] == "53")]

       cust_nbr  fisc_wk_id  purchases
50235      5785      202153          1
50236     11866      202153          1
50237     21758      202153          1
50238     22004      202153          1
50239     36111      202153          1
...         ...         ...        ...
51474    781385      202153          1
51475    816165      202153          1
51476    826925      202153          1
51477    887521      202153          1
51478    952754      202153          1

[1244 rows x 3 columns]

In [11]:
all_wk = list(range(202051, 202053)) + list(range(202101, 202154)) + list(range(202201, 202253)) + list(range(202301, 202350))

In [12]:
customers = final["cust_nbr"].unique()

In [13]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157467 entries, 0 to 157466
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cust_nbr    157467 non-null  int64
 1   fisc_wk_id  157467 non-null  int64
 2   purchases   157467 non-null  int64
dtypes: int64(3)
memory usage: 3.6 MB

In [14]:
all_data = []

for c in customers:
    all_data.append([c]*len(all_wk))

In [15]:
all_d = pd.DataFrame()

In [16]:
len(all_data)

3213

In [17]:
all_d["cust_nbr"] = np.array(all_data).flatten()

In [18]:
len(all_wk * len(customers))

501228

In [19]:
all_d["fisc_wk_id"] = all_wk * len(customers)

In [20]:
full_data = all_d.merge(final, how = "left", on =["cust_nbr", "fisc_wk_id"] )

In [21]:
c_5785 = full_data.loc[full_data["cust_nbr"] == 5785]

In [22]:
c_5785[c_5785["purchases"].isnull()]

    cust_nbr  fisc_wk_id  purchases
15      5785      202114        NaN
48      5785      202147        NaN
64      5785      202210        NaN
78      5785      202224        NaN

In [23]:
f_5785 = final.loc[final["cust_nbr"] == 5785]

In [24]:
f_5785["fisc_wk_id"].unique()

array([202051, 202052, 202101, 202102, 202103, 202104, 202105, 202106,
       202107, 202108, 202109, 202110, 202111, 202112, 202113, 202115,
       202116, 202117, 202118, 202119, 202120, 202121, 202122, 202123,
       202124, 202125, 202126, 202127, 202128, 202129, 202130, 202131,
       202132, 202133, 202134, 202135, 202136, 202137, 202138, 202139,
       202140, 202141, 202142, 202143, 202144, 202145, 202146, 202148,
       202149, 202150, 202151, 202152, 202153, 202201, 202202, 202203,
       202204, 202205, 202206, 202207, 202208, 202209, 202211, 202212,
       202213, 202214, 202215, 202216, 202217, 202218, 202219, 202220,
       202221, 202222, 202223, 202225, 202226, 202227, 202228, 202229,
       202230, 202231, 202232, 202233, 202234, 202235, 202236, 202237,
       202238, 202239, 202240, 202241, 202242, 202243, 202244, 202245,
       202246, 202247, 202248, 202249, 202250, 202251, 202252, 202301,
       202302, 202303, 202304, 202305, 202306, 202307, 202308, 202309,
       202310, 202311, 202312, 202313, 202314, 202315, 202316, 202317,
       202318, 202319, 202320, 202321, 202322, 202323, 202324, 202325,
       202326, 202327, 202328, 202329, 202330, 202331, 202332, 202333,
       202334, 202335, 202336, 202337, 202338, 202339, 202340, 202341,
       202342, 202343, 202344, 202345, 202346, 202347, 202348, 202349],
      dtype=int64)

In [25]:
final.shape

(157467, 3)

In [26]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501228 entries, 0 to 501227
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cust_nbr    501228 non-null  int64
 1   fisc_wk_id  501228 non-null  int64
 2   purchases   157467 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 15.3 MB

In [27]:
full_data.fillna(0, inplace = True)

In [28]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501228 entries, 0 to 501227
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cust_nbr    501228 non-null  int64
 1   fisc_wk_id  501228 non-null  int64
 2   purchases   501228 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 15.3 MB

In [29]:
full_data.sort_values("fisc_wk_id", inplace = True)

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [31]:
X = full_data.drop(columns = "purchases")
y = full_data["purchases"]

In [32]:
X = StandardScaler().fit_transform(X)

In [33]:
X

array([[-3.70951232, -2.03729268],
       [-0.59624674, -2.03729268],
       [-2.12865519, -2.03729268],
       ...,
       [ 0.51592867,  1.52576598],
       [ 0.55576867,  1.52576598],
       [ 0.5702256 ,  1.52576598]])

In [34]:
lr = LogisticRegression()

In [35]:
lr.fit(X,y)

LogisticRegression()

In [36]:
probabilities = lr.predict_proba(X)[:,1]

In [37]:
probabilities.size

501228

In [38]:
full_data["probability"]  = probabilities

In [39]:
full_data.drop(columns = "purchases").to_csv("probabilities.csv", index = False)